.container
  = @item.each do |item|
    .row
      .col-md-2
        = link_to item_path(id: item.id) do
          .card.img-thumbnail
            .card-img-top
              = image_tag item.images.first.name.thumb.url
            .card-body
              .card-title
                = item.name
              .card-text
                = item.price